
.table-view{
    -fx-border-color: #B53471;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.table-view .column-header {
    -fx-background-color:  #B53471;
    -fx-border-radius:10;
    -fx-border-color:  #B53471;
    -fx-background-radius: 10;
    -fx-font-size: 21px;
    -fx-font-family: "Times New Roman";
}
.table-view .column-header-background{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.table-view .column-header .label{
    -fx-text-fill:   White;
    -fx-font-size: 21px;
    -fx-font-family: "Times New Roman";

}
.table-view.label{
    -fx-font-size: 21px;
    -fx-font-family: "Times New Roman";
    -fx-animated:inherit;
    -fx-padding: 5%;
    -fx-alignment: center;

}